.reviewer{
    position: relative;
    padding: 20px;
    max-width: 100%;
    min-height: 500px;
    display: flex;
    gap: 350px;
    background: linear-gradient(to bottom, $color-text, $color-main);
    .option-left{
        text-align: center;
        margin-left: 80px;
        .face{
            position: absolute;
            width: 20%;
            height: 400px;
            backface-visibility: hidden;
            border-radius: 10px;
            overflow: hidden;
            transition: .5s;
            @include media-down(md){
                width: 70%;
             }    
        }
        .front{
            transform: perspective(600px)
            rotateY(0deg);
            box-shadow: 0 5px 10px #000;
            img{
                position: absolute;
                max-width: 300px;
                height: 500px;
                right: 0px;
                object-fit: cover;
                @include media-down(md){
                    min-width: 900px;
                    right: 0px;
                 }    
            }
            h3{
                position: absolute;
                bottom: -10px;
                left: 0;
                font-size: 20px;
                width: 300px;
                height: 45px;
                line-height: 45px;
                color: $color-a;
                background: rgba(0,0,0,.4);
                @include media-down(md){
                    min-width: 600px;
                    right: 10px;
                 }    
                 @include media-down(sm){
                    min-width: 400px;
                    right: 50px;
                }      
            }
        }
        .back{
            transform: perspective(600px) rotateY(180deg);
            background: $color-terciary;
            padding: 15px;
            color: $color-a;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 5px 10px #000;
            h3{
                font-size: 30px;
                margin-top: 20px;
                @include media-down(ns){
                    font-size: 20px;
                    margin-top: 0;
                }    
                @include media-down(md){
                    margin-top: 20px;
                font-size: 40px;
                }   
            }
            p{
                margin-bottom: 20px;
                @include media-down(ns){
                margin-top: 0;
                font-size: 15px;
                }    
                @include media-down(md){
                font-size: 20px;
                }   
            }
            .r-link{
                border-top: solid 1px $color-a;
                height: 50px;
                line-height: 50px;
                a{
                    margin-top: 20px;
                    color: $color-a;
                    &:hover{
                        color: $color-text;
                    }
                    @include media-down(ns){
                    margin-top: 0;
                    }    
                }
            }
        }
        &:hover .front{
            transform: perspective(600px) rotateY(180deg);
        }
        &:hover .back{
            transform: perspective(600px) rotateY(360deg);
        }
    }
    @include media-down(jr){
    gap: 300px;
        }
        @include media-down(lg){
            gap: 250px;
                }
                @include media-down(ns){
                    gap: 150px;
                }   
                @include media-down(md){
                    flex-direction: column;
                    gap: 500px;
                    height:1600px;
                 }     
}